---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

I am a sessional instructor for the China Program in the Department of Economics at Dalhousie University. From 2020 to 2025, I also served as a teaching assistant in the Department of Economics at Queen’s University.

I instructed Intermediate Macroeconomics during the Spring/Summer terms of 2023, 2024, and 2025 for second-year economics students at Shandong University of Finance and Economics. The course syllabus and materials will be made available here soon.

A comprehensive list of undergraduate and graduate economics courses for which I served as a teaching assistant is available in my CV.
